a, body, div, li, p, ul {
    margin: 0;
    padding: 0
}
body {
    width: 100%;
    overflow: hidden;
    font-family: "Microsoft YaHei", Helvetica, STHeiti STXihei, Microsoft JhengHei, Arial;
    font-size: 16px;
    -moz-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none
}
div, p {
    margin: 0 auto
}
p {
    text-align: center
}
#pageContain {
    overflow: hidden
}
.page {
    background-clip: border-box;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0
}
@media screen and (-webkit-max-device-width:480px) and (-webkit-device-pixel-ratio:1) and (orientation:portrait) {
    .page {
        background-image: url(../img/mobile/pb.jpg)
    }
}
@media screen and (-webkit-min-device-pixel-ratio:1.1) and (orientation:portrait), screen and (-webkit-min-device-width:481px) and (-webkit-device-pixel-ratio:1) and (orientation:portrait) {
    .page {
        background-image: url(../img/mobile/pb@2.jpg)
    }
}
@media screen and (-webkit-max-device-width:480px) and (-webkit-device-pixel-ratio:1) and (orientation:landscape) {
    .page {
        background-image: url(../img/mobile/lb.jpg)
    }
}
@media screen and (-webkit-min-device-pixel-ratio:1.1) and (orientation:landscape), screen and (-webkit-min-device-width:481px) and (-webkit-device-pixel-ratio:1) and (orientation:landscape) {
    .page {
        background-image: url(../img/mobile/lb@2.jpg)
    }
}
.ls {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    margin-right: -50%;
    width: 100%;
    height: 100%
}
.lm {
    width: 72px;
    height: 72px;
    background: center no-repeat border-box;
    border-radius: 50%;
    border: .8px solid #333
}
@media screen and (-webkit-device-pixel-ratio:1) {
    .lm {
        background-image: url(../img/mobile/logo.jpg)
    }
}
@media screen and (-webkit-min-device-pixel-ratio:1.1) {
    .lm {
        background-image: url(../img/mobile/logo@2.jpg);
        background-size: contain
    }
}
.lt {
    font-size: 2.5em;
    margin-top: 1%
}
.slogen {
    margin-top: 3%
}
.s1 {
    font-size: 2em
}
.s2 {
    font-size: 1.2em
}
.d {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    margin-right: -50%;
    border-radius: 4px;
    padding: .2em 1.3em;
    border: 1px solid #f26200;
    border-top-color: #ff8915;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffbb1f), to(#f26801));
    background: gradient(linear, 0 0, 0 100%, from(#ffbb1f), to(#f26200));
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em
}
.d_active {
    border-top-color: #ff7e11;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff910f), to(#ef4800));
    background: gradient(linear, 0 0, 0 100%, from(#ff910f), to(#ef4800))
}
.top {
    margin: 5% auto
}
.t1 {
    font-size: 2em
}
.t2 {
    font-size: 1.2em;
    color: #333;
    margin-top: .6em
}
.bottom {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    margin-right: -50%;
    background-clip: border-box;
    background-origin: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain
}
@media screen and (orientation:portrait) {
    .bottom {
        width: 81.16%;
        height: 72.83%;
        min-width: 168px;
        min-height: 268px
    }
}
@media screen and (-webkit-max-device-width:480px) and (-webkit-device-pixel-ratio:1) and (orientation:portrait) {
    .bOne {
        background-image: url(../img/mobile/p1b.png)
    }
    .bTwo {
        background-image: url(../img/mobile/p2b.png)
    }
    .bThree {
        background-image: url(../img/mobile/p3b.png)
    }
}
@media screen and (-webkit-min-device-pixel-ratio:1.1) and (orientation:portrait), screen and (-webkit-min-device-width:481px) and (-webkit-device-pixel-ratio:1) and (orientation:portrait) {
    .bOne {
        background-image: url(../img/mobile/p1b@2.png)
    }
    .bTwo {
        background-image: url(../img/mobile/p2b@2.png)
    }
    .bThree {
        background-image: url(../img/mobile/p3b@2.png)
    }
}
@media screen and (orientation:landscape) {
    .bottom {
        width: 78.91%;
        height: 62.5%;
        min-width: 404px;
        min-height: 240px
    }
}
@media screen and (-webkit-max-device-width:480px) and (-webkit-device-pixel-ratio:1) and (orientation:landscape) {
    .bOne {
        background-image: url(../img/mobile/l1b.png)
    }
    .bTwo {
        background-image: url(../img/mobile/l2b.png)
    }
    .bThree {
        background-image: url(../img/mobile/l3b.png)
    }
}
@media screen and (-webkit-min-device-pixel-ratio:1.1) and (orientation:landscape), screen and (-webkit-min-device-width:481px) and (-webkit-device-pixel-ratio:1) and (orientation:landscape) {
    .bOne {
        background-image: url(../img/mobile/l1b@2.png)
    }
    .bTwo {
        background-image: url(../img/mobile/l2b@2.png)
    }
    .bThree {
        background-image: url(../img/mobile/l3b@2.png)
    }
}
@media screen and (orientation:landscape) and (-webkit-max-device-width:480px) {
    .ls {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        margin-bottom: -50%
    }
    .d {
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        margin-bottom: -50%
    }
    .top {
        margin: 1% auto
    }
}
.contain {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    z-index: 0
}
.current .contain, .slide .contain {
    display: block
}
.current {
    display: block;
    z-index: 1
}
.slide {
    display: block;
    z-index: 2
}
.swipe {
    display: block;
    z-index: 3;
    transition-duration: 0ms!important
}
#navBar {
    z-index: 3;
    position: absolute;
    top: 5%;
    right: 1%;
    list-style: none
}
#navBar .active {
    background-color: rgba(120, 120, 120, .3);
    color: #333
}
#navBar li {
    cursor: pointer;
    margin-bottom: .5em;
    transition: all .7s ease;
    border-radius: 50%;
    line-height: 1.5em;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    font-size: .5em;
    color: #999
}
#fullCover {
    display: none;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, .6)
}
#cover {
    width: 90%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    margin-right: -50%;
    background-color: #333;
    border-radius: 0 0 5px 5px
}
#banner {
    position: absolute;
    top: 35px;
    left: 40px
}
#banner p {
    font-size: 1.2em;
    color: #fff;
    text-align: left;
    margin-bottom: .5em
}
#arrow {
    background-image: url(../img/mobile/arrow.png);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 5px;
    right: 5px
}
.right {
    position: absolute;
    bottom: .5em;
    font-size: .6em;
    color: #333;
    width: 100%
}